<div class="content">
    <div class="popup">
        <div class="pp">
            <img src="https://cdn.pixabay.com/photo/2019/08/01/12/19/raccoon-4377383_640.jpg">
        </div>
        <div class="infos">
            <div class="name">John Doe</div>
            <div class="job">Frontend Developer</div>
            <div>Passionate frontend developer witch expertise in HTML, CSS, Javascript, Angular</div>
            <div class="stats">
                <div class="info">
                    <div>1998</div>
                    <div>Followers</div>
                </div>
                <div class="sep"></div>
                <div class="info">
                    <div>190</div>
                    <div>Following</div>
                </div>
                <div class="sep"></div>
                <div class="info">
                    <div>15</div>
                    <div>Project</div>
                </div>
            </div>
            <div class="button">
                <button class="follow">Follow</button>
                <button class="view">View Profile</button>
            </div>
        </div>
    </div>
</div>