<div class="content">
    <div class="popup">
        <div class="pp">
            <img>
        </div>
        <div class="info">
            <div class="name">John Doe</div>
            <div>Frontend Developer</div>
            <div>Passionate frontend developer witch expertise in HTML, CSS, Javascript, Angular</div>
            <div class="stats">
                <div>
                    <div>1998</div>
                    <div>Followers</div>
                </div>
                <div class="sep"></div>
                <div>
                    <div>190</div>
                    <div>Following</div>
                </div>
                <div class="sep"></div>
                <div>
                    <div>15</div>
                    <div>Project</div>
                </div>
            </div>
            <div class="button">
                <button>Follow</button>
                <button>View Profile</button>
            </div>
        </div>
    </div>
</div>